# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Django
db.sqlite3
*.log
local_settings.py

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node (React frontend)
healthcare_frontend/node_modules/
healthcare_frontend/build/
healthcare_frontend/.env
